    .navbar-nav {
        margin-left: auto!important;
    }

    .navbar-brand{
        font-family: now-ui-kit;
        src:url(../../../../assets/fonts/nucleo-outline.ttf);
    }

    .dropdown-toggle::after {
        display:none;
    }

    .img-logo{
        height: 50px;
    }

    .navbar-brand{
        font-size:xx-large;
    }